@import "tailwindcss";

.light {
  --background: 25 21 242;
  --primary: 226 226 214;
  --secondary: 255 255 0;
  --cta: 165 120 42;
}

.dark {
  --background: 174 234 242;
  --primary: 0 20 20;
  --secondary: 255 255 0;
  --cta: 153 128 28;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--primary));
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
