@import "tailwindcss";

@theme {
  --color-bgcolor: rgb(var(--background)/ <alpha-value>);
  --color-primary: rgb(var(--primary)/ <alpha-value>);
}

:root, .dark {
  --background: 1 107 97;
  --primary: 112 178 178;
  --secondary: 255 255 0;

  --color-bgcolor: rgb(var(--background));
  --color-primary: rgb(var(--primary));
}

.light {
  --background: 112 178 178;
  --primary: 1 107 97;
  --secondary: 255 255 0;

  --color-bgcolor: rgb(var(--background));
  --color-primary: rgb(var(--primary));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
